[maxscale]
threads=auto
admin_host=0.0.0.0
admin_secure_gui=false


[mariadb-master]
type=server
address=mariadb-master
port=3306
protocol=MariaDBBackend

[mariadb-slave]
type=server
address=mariadb-slave
port=3306
protocol=MariaDBBackend

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=mariadb-master,mariadb-slave
user=maxscale
password=maxscale_pw
monitor_interval=2s


[Splitter-Service]
type=service
router=readwritesplit
servers=mariadb-master,mariadb-slave
user=maxscale
password=maxscale_pw

[Splitter-Listener]
type=listener
service=Splitter-Service
protocol=MariaDBClient
port=3306